.csContainer{
  background-color: white;
  min-height: 75vh;
  max-width: 1300px;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  background-image: url('.././../../public/blob.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 150px 70px;
  
}

.justBlur{
  min-height: 75vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(150px);
}
.csWrapper{
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  color: #343a40;
  
}
.msImage{
  flex: 3 1;
  margin-right: 4.5rem;
}
.msImage img{
  height: auto;
  max-width: 100%;
}
.msContent{
  flex: 3 1;
  margin-right: 6rem;
  
 
  
}

@media screen and (max-width: 768px) {
  .csContainer{
    
    padding-left: 0;
    
    background-image: url('.././../../public/blob.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80px 10px;
    
  }
 
  .csWrapper{
   width: 100%;
   flex-direction: column-reverse;
   justify-content: center;
  }
  .justBlur{
    
    backdrop-filter: blur(50px);
  }
  .msImage{
   justify-content: center;
   
  }
  .msImage{
   flex: 3 1;
   margin-right: 0;
   padding-top: 2rem;
 }
 .msContent{
   flex: 3 1;
   margin-right: 0;
   padding-bottom: 2rem;
 }
 }