
@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.content p {
  @apply my-6;
}
.owl-dots {
  display: flex;
  justify-content: space-around;
  width: 150px;
  
  
  text-align: center;
}
.owl-dots button.owl-dot{
  top: -100px;
}
.owl-dots button.owl-dot.active span{
  
  background-color: rgb(206, 1, 65);
  border-radius: 50%;
  height: 18px;
  width: 18px;
  position: absolute;
  box-shadow: rgba(206, 1, 65, 0.2) 0px 2px 2px 2px, rgba(206, 1, 65, 0.3) 0px 0px 0px 3px;;
  
} 
.owl-dots button.owl-dot:hover span,
.owl-dots button.owl-dot span {
  border:4px solid #CE0141;

border-radius: 50%;
height: 18px;
width: 18px;
position: absolute;

}
.owl-dots button.owl-dot{
border: 1px solid gray;
background: white;
 border-radius: 50%;
 height: 16px;
 width: 16px;
 position: relative;
}

.rhap_progress-bar-show-download{
  background-color: white !important;
  border-radius: 20px
}

.rhap_progress-indicator{
  background: white !important;
  width: 14px !important;
  height: 14px !important;
  top:-5px !important
}
.rhap_progress-bar .rhap_progress-filled .rhap_download-progress{
  border-radius: 20px !important;
}
.rhap_controls-section{
  margin-right: 0px !important;
  margin-bottom:0px !important;
}

.content ul {
  @apply my-6;
}
@media screen and (max-width: 768px) {
  .owl-dots {
    display: flex;
    justify-content: space-around;
    width: 150px;
    
    
    text-align: center;
  }
  .owl-dots button.owl-dot{
    top: -140px;
  }
  
  .owl-dots button.owl-dot.active span{
    
    background-color: rgb(206, 1, 65);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    position: absolute;
    box-shadow: rgba(206, 1, 65, 0.2) 0px 2px 2px 2px, rgba(206, 1, 65, 0.3) 0px 0px 0px 3px;;
    
  } 
  .owl-dots button.owl-dot:hover span,
  .owl-dots button.owl-dot span {
    border:4px solid #CE0141;
  
  border-radius: 50%;
  height: 18px;
  width: 18px;
  position: absolute;
  
  }
  .owl-dots button.owl-dot{
  border: 1px solid gray;
  background: white;
   border-radius: 50%;
   height: 16px;
   width: 16px;
   position: relative;
  }
}
