.msContainer{
  background-color: #060710;
  min-height: 87.5vh;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  
}
.msWrapper{
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  color: white;
}
.msImage{
  flex: 3 1;
  margin-right: 4.5rem;
}
.msImage img{
  height: auto;
  max-width: 100%;
}
.msContent{
  flex: 3 1;
  margin-right: 6rem;
}

@media screen and (max-width: 768px) {
 .msWrapper{
  width: 100%;
  flex-direction: column;
  justify-content: center;
 }
 .msImage{
  justify-content: center;
 }
 .msImage{
  flex: 3 1;
  margin-right: 0;
}
.msContent{
  flex: 3 1;
  margin-right: 0;
}
}